* {
  margin: 0;
  padding: 0;
}

:root {

  --fonte: 'Cinzel Decorative', cursive;

  --red: #9d0406;
  --black: #000000;
  --white: #fbfefd;
  
}

body {
  background-color: var(--black);
  color: var(--red);
  height: 100vh;
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

h1 {
  font: 400 2.75rem var(--fonte);
  margin: 2rem 0;
}

section {
  height: 150px;
}

.container {
  background-image: url("../img/targaryen.png");  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px;
  flex-direction: column;
  height: 100vh;
  display: flex;
  transition: 300ms;
}

#botao {
  background-color: unset;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 325px;
  display: block;
  margin: auto auto;
  position: relative;
  transition: 500ms;
  transform: translateY(-5rem);
  width: 325px;
}

.blackfyre {
  background-color: var(--red);
  background-image: url("../img/blackfyre.png");
  color: var(--black);
}
